In [1]:
#create a tuple student with student id,name,age.branch details
stud=(11,"Aachal",21,"CSE")
print(stud)

(11, 'Aachal', 21, 'CSE')

In [2]:
print(stud[1])

Aachal

In [3]:
print(stud[-1])

CSE

In [4]:
print(stud[1:2])

('Aachal',)

In [5]:
print(stud[:2])

(11, 'Aachal')

In [6]:
print(stud[:-2])

(11, 'Aachal')

In [7]:
print(stud[-2:])

(21, 'CSE')

In [8]:
#list addition
la=[1,2,3]
lb=[4,5,6]
print(la+lb)

[1, 2, 3, 4, 5, 6]

In [9]:
l1=(1,2,3)
l2=(4,5,6)
print(l1+l2)

(1, 2, 3, 4, 5, 6)

In [11]:
t1=(1,2,3,['hindi','python'])
print(t1)

(1, 2, 3, ['hindi', 'python'])

In [12]:
t1=t1+(4,5,6)
print(t1)

(1, 2, 3, ['hindi', 'python'], 4, 5, 6)

In [13]:
t1[3][0]='english'
print(t1)

(1, 2, 3, ['english', 'python'], 4, 5, 6)

In [14]:
t1[0]=11
print(t1)

TypeError: 'tuple' object does not support item assignment